.container {

  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 400px;
  height: 100%;
  margin: auto;
  background-color: lightcyan;
}

#login-table-head{

  background-color: cornflowerblue;
  color: white;
}
.login-table->tr{
  padding-top: 10px;
}
